@charset "UTF-8";
.top-left{
display: flex;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14, .item15{
width: 65px;
padding: 10px;
color: #fff;
background: #00bbdd;
text-align: center;
margin-right: 20px;
margin-bottom: 20px;
}

.top-right{
display:flex;
flex-direction: row-reverse;
}
.middle{
display:flex;
flex-direction: column;
}
.under{
display:flex;
flex-direction: column-reverse;
}

.repeat{
display: flex;
flex-wrap: nowrap;
}

.turnback{
display: flex;
flex-wrap: wrap;
}
.turnback-reverse{
display: flex;
flex-wrap: wrap-reverse;
}
.flex-start{
display: flex;
justify-content: flex-start;
}
.flex-end{
display: flex;
justify-content: flex-end;
}
.center{
display: flex;
justify-content: center;
}
.space-between{
display: flex;
justify-content: space-between;
}

.space-around{
display: flex;
justify-content: space-around;
}

.grid-first{
display: grid;
grid-template-columns: 200px 200px 200px;
gap: 10px;
margin-bottom: 20px;
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6{
color: #fff;
background: #00bbdd;
padding: 10px;
}

.grid-second{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
margin-bottom: 20px;
}

.grid-third{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 200px 200px;
gap: 10px;
margin-bottom: 20px;
}

.grid-last{
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 100px 100px 100px;
gap: 10px;
}
.grid-last-item1{
color: #fff;
background: #dd0700;
padding: 10px;
grid-column: 1/3;
}
.grid-last-item2, .grid-last-item5, .grid-last-item6{
color: #fff;
background: #00bbdd;
padding: 10px;
}

.grid-last-item3{
color: #fff;
background: #0bdd00;
padding: 10px;
grid-row: 2/4;
}
.grid-last-item4{
color: #fff;
background: #d9dd00;
padding: 10px;
grid-column: 2/4;
}